<h1> Customize {{camera.name}} </h1>

<div class = "camera-edit">
<form action="/brands/{{brandId}}/cameras/{{camera._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{camera.name}}">

    <label for="price">Price</label>
    <input type="number" name="price" value="{{camera.price}}" step="any">

    <label for="color">Color</label>
    <input type="text" name="color" value="{{camera.color}}">

     <label for="lensSize">Lens Size</label>
    <input type="number" name="lensSize" value="{{camera.lensSize}}" step="any">

    <input type="submit" value="Edit">
</form>

<a href="/brands/{{brandId}}/cameras/{{camera._id}}">Return to Camera</a>
</div>