<div>
    <h1>{{brand.name}}'s Cameras</h1>

    <div>
        <a href="/brands/{{brand._id}}/cameras/new">Create a New Camera</a>
    </div>

    <div>
        <a href="/brands">Back to Brands</a>
    </div>
    
    {{#each brand.cameras}}
        <div class="camera-list">
           Camera: {{this.name}} - Price: {{this.price}}
            <a href="/brands/{{../brand._id}}/cameras/{{this._id}}">Check Out Camera</a>
        </div>
    {{/each}}
</div>