<div>
    {{camera.name}} - {{camera.price}}
    <a href="/brands/{{brandId}}/cameras/{{camera._id}}/edit">Customize Camera</a>
    <a href="/brands/{{brandId}}/cameras/{{camera._id}}/delete">Delete Camera</a>
</div>