<div>
    <h1>Customized Cameras Catalog</h1>

    <h2>The Big Baller Brands of Cameras:</h2>
    <div>
        <a href="/brands/new">Add A New Big Baller Brand</a>
            <br>
        <a href="/users">Back to Users</a>
    </div>
    {{#each brands}}
        <div class="brands">
            Brand: {{this.name}} 
            <br>
            <a href="/brands/{{this._id}}">{{this.name}} Info</a>
            <br>
            <a href="/brands/{{this._id}}/cameras">{{this.name}}'s Cameras</a>
        </div>
    {{/each}}
</div>