<div>
    <h1>{{brand.name}}'s Company Info</h1>
    <div class='companyinfo'>
        Name: {{brand.name}}
        <br>
        Founder: {{brand.founder}}
        <br>
        Stock Symbol: {{brand.stockSymbol}}
    </div>

    <div>
        <a href="/brands">Back to Brands</a>
    </div>
    <div>
        <a href="/brands/{{brand._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/brands/{{brand._id}}/delete">Delete</a>
    </div>
</div>